body {
    
}

.card-shadow {
    box-shadow:0 0 8px 0 rgba(0,0,0,0.1)
}


.card-hover:hover {
    background-color: #f0f0f0;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
    transform: scale(1.01);
    transition: transform 0.2s ease, box-shadow 0.9s ease, background-color 0.2s ease;
}
.star {
    color: #0094ff;
    font-size:13px
}
#ecomNav-icon ::before {
    
    border-radius: .5rem;
    background: #ffffff;
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    position: relative;
    text-align: center;
    padding:5px;
}



.cart-container {
    position: relative;
    display: inline-block;
    top: 0px;
    right: 0px;
    font-size: 1.4rem;
    cursor: pointer;
    background-color: white;
    border-radius: 5px;
    padding:2px
}
    .cart-container i {
        font-size: 1.2rem; /* Adjust the icon size */
    }
    .cart-container:hover {
        background-color: transparent;
    }
    .cart-badge {
        position: absolute;
        top: 5px;
        right: 0;
        background: red;
        color: white;
        font-size: 0.75rem;
        border-radius: 100%;
        padding: 0.2em 0.5em;
        transform: translate(50%, -50%);
        min-width: 1.5em;
        text-align: center;
    }