@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row mt-4">

        <div class="col-md-10">
            <!--Start Slider-->
            <div id="carouselExample" class="carousel slide">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="~/images/img1.jpg" class="d-block w-100" alt="..." style="height:400px">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/img2.jpg" class="d-block w-100" alt="..." style="height: 400px">
                    </div>
                    <div class="carousel-item">
                        <img src="~/images/img1.jpg" class="d-block w-100" alt="..." style="height: 400px">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <!--End Slider-->
        </div>
        <div class="col-md-2">
            <img src="~/images/side_image.png" style="width:90%;height:300px" />
        </div>

    </div>
    <!--Start New-->
    <div class="container ">
        <div class="row mt-4">
            <div class="col-md-4">
                <div class="car">
                    <div class="card-bod">
                        <img src="~/images/card1.png" style="width:100%;height:200px" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="car">
                    <div class="card-bod">
                        <img src="~/images/card2.png" style="width:100%;height:200px" />
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="car">
                    <div class="card-bod">
                        <img src="~/images/card3.png" style="width:100%;height:200px" />
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--End New-->
    <!--Start Category-->
    <div class="container mt-3">
        <div class="row">
            <p class="" style="font-weight:600;font-size:28px;color:#0094ff">Categories</p>
            <div class="col ">
                <div class="card card-hover">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img1.jpg" style="width:80%;height:100px" />
                        <p>Samsung</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-hover">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img1.jpg" style="width:80%;height:100px" />
                        <p>Samsung</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-hover">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:80%;height:100px" />
                        <p>Samsung</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-hover">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img1.jpg" style="width:80%;height:100px" />
                        <p>Samsung</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-hover">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:80%;height:100px" />
                        <p>Samsung</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-hover">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img1.jpg" style="width:80%;height:100px" />
                        <p>Samsung</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-hover">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:80%;height:100px" />
                        <p>Samsung</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card card-hover">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img1.jpg" style="width:80%;height:100px" />
                        <p>Samsung</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End Category-->
    <!--Start Just for you-->
    <div class="container mt-3">
        <div class="row mb-4">
            <p class="" style="font-weight:600;font-size:28px;color:#0094ff">Just For You</p>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:70%;height:100px" />
                        <p class="p-0">
                            Samsung <br />
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            (0)
                            <br />
                            <span style="color:#808080;font-size:13px">Brand not available</span>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-bold">
                                    Rs 500<br />
                                    <span class="text-decoration-line-through text-muted">Rs 500</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn " style="border:2px solid #0094ff">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:70%;height:100px" />
                        <p class="p-0">
                            Samsung <br />
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            (0)
                            <br />
                            <span style="color:#808080;font-size:13px">Brand not available</span>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-bold">
                                    Rs 500<br />
                                    <span class="text-decoration-line-through text-muted">Rs 500</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn " style="border:2px solid #0094ff">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:70%;height:100px" />
                        <p class="p-0">
                            Samsung <br />
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            (0)
                            <br />
                            <span style="color:#808080;font-size:13px">Brand not available</span>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-bold">
                                    Rs 500<br />
                                    <span class="text-decoration-line-through text-muted">Rs 500</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn " style="border:2px solid #0094ff">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:70%;height:100px" />
                        <p class="p-0">
                            Samsung <br />
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            (0)
                            <br />
                            <span style="color:#808080;font-size:13px">Brand not available</span>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-bold">
                                    Rs 500<br />
                                    <span class="text-decoration-line-through text-muted">Rs 500</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn " style="border:2px solid #0094ff">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:70%;height:100px" />
                        <p class="p-0">
                            Samsung <br />
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            (0)
                            <br />
                            <span style="color:#808080;font-size:13px">Brand not available</span>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-bold">
                                    Rs 500<br />
                                    <span class="text-decoration-line-through text-muted">Rs 500</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn " style="border:2px solid #0094ff">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 mb-4">
                <div class="card">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:70%;height:100px" />
                        <p class="p-0">
                            Samsung <br />
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            (0)
                            <br />
                            <span style="color:#808080;font-size:13px">Brand not available</span>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-bold">
                                    Rs 500<br />
                                    <span class="text-decoration-line-through text-muted">Rs 500</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn " style="border:2px solid #0094ff">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:70%;height:100px" />
                        <p class="p-0">
                            Samsung <br />
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            (0)
                            <br />
                            <span style="color:#808080;font-size:13px">Brand not available</span>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-bold">
                                    Rs 500<br />
                                    <span class="text-decoration-line-through text-muted">Rs 500</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn " style="border:2px solid #0094ff">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="card">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:70%;height:100px" />
                        <p class="p-0">
                            Samsung <br />
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            (0)
                            <br />
                            <span style="color:#808080;font-size:13px">Brand not available</span>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-bold">
                                    Rs 500<br />
                                    <span class="text-decoration-line-through text-muted">Rs 500</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn " style="border:2px solid #0094ff">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="col-md-2">
                <div class="card">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:70%;height:100px" />
                        <p class="p-0">
                            Samsung <br />
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            (0)
                            <br />
                            <span style="color:#808080;font-size:13px">Brand not available</span>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-bold">
                                    Rs 500<br />
                                    <span class="text-decoration-line-through text-muted">Rs 500</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn " style="border:2px solid #0094ff">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="col-md-2">
                <div class="card">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:70%;height:100px" />
                        <p class="p-0">
                            Samsung <br />
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            (0)
                            <br />
                            <span style="color:#808080;font-size:13px">Brand not available</span>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-bold">
                                    Rs 500<br />
                                    <span class="text-decoration-line-through text-muted">Rs 500</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn " style="border:2px solid #0094ff">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="col-md-2">
                <div class="card">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:70%;height:100px" />
                        <p class="p-0">
                            Samsung <br />
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            (0)
                            <br />
                            <span style="color:#808080;font-size:13px">Brand not available</span>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-bold">
                                    Rs 500<br />
                                    <span class="text-decoration-line-through text-muted">Rs 500</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn " style="border:2px solid #0094ff">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div><div class="col-md-2">
                <div class="card">
                    <div class="card-bod text-center p-2">
                        <img src="~/images/img2.jpg" style="width:70%;height:100px" />
                        <p class="p-0">
                            Samsung <br />
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            <i class="fa-regular fa-star star"></i>
                            (0)
                            <br />
                            <span style="color:#808080;font-size:13px">Brand not available</span>
                        </p>

                        <div class="row">
                            <div class="col-md-6">
                                <p class="fw-bold">
                                    Rs 500<br />
                                    <span class="text-decoration-line-through text-muted">Rs 500</span>
                                </p>
                            </div>
                            <div class="col-md-6">
                                <button class="btn " style="border:2px solid #0094ff">ADD</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Start Shipping facility-->
    <div class="container p-3">
        <div class="row">
            <div class="col-md-4">
                <div class="card-shadow">
                    <div class="row p-3">
                        <div class="col-md-2 text-end fs-2 text-primary">
                            <i class="fa-solid fa-truck"></i>
                        </div>
                        <div class="col-md-10">
                            <p class="fw-bold">
                                Low Shipping Cost<br />
                                <span style="color:#808080;font-size:13px">Get your order in lowest shipping cost</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-shadow">
                    <div class="row p-3">
                        <div class="col-md-2 text-end fs-2 text-primary">
                            <i class="fa-solid fa-rotate-right"></i>
                        </div>
                        <div class="col-md-10">
                            <p class="fw-bold">
                                Shop with Confidence<br />
                                <span style="color:#808080;font-size:13px">Our Protection covers your purchase from click to delivery</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-shadow">
                    <div class="row p-3">
                        <div class="col-md-2 text-end fs-2 text-primary">
                            <i class="fa-solid fa-headphones"></i>
                        </div>
                        <div class="col-md-10">
                            <p class="fw-bold">
                                24/7 Help Center<br />
                                <span style="color:#808080;font-size:13px">Round-the-clock assistance for a smooth shopping experience</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End  Shipping facility-->
</div>